/dist
/distTest
/distPilot
/tmp
/out-tsc

/bazel-run

/node_modules

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

/typings
*.log

Thumbsdb
.DS_Store
